<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>


<!-- Wrapper -->
<main class="flex flex-col flex-auto w-full min-w-0">

    <!-- Header -->
    <header class="relative flex flex-0 items-center w-full h-16 sm:h-20 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden">
        <ng-container *ngIf="!isScreenSmall">
            <!-- Logo -->
            <div class="flex flex-row w-full">
                <img
                class="flex w-8 mr-3"
                src="assets/images/logo/snru.png">

                <div class="flex flex-col">
                    <span class="text-lg font-bold">ระบบตรวจสอบเลขที่นั่งบัณฑิต <span class="text-sm">(วันฝึกซ้อม)</span></span>
                    <span class="text-sm text-secondary">มหาวิทยาลัยราชภัฏสกลนคร</span>
                </div>


            </div>

        </ng-container>
        <!-- Navigation toggle button -->
        <ng-container *ngIf="isScreenSmall">
            <div class="flex flex-row w-full">
                <img
                class="flex lg:hidden w-8 mr-3"
                src="assets/images/logo/snru.png">

                <div class="flex flex-col">
                    <span class="text-lg font-bold">ระบบตรวจสอบเลขที่นั่งบัณฑิต <span class="text-sm">(วันฝึกซ้อม)</span></span>
                    <span class="text-sm text-secondary">มหาวิทยาลัยราชภัฏสกลนคร</span>
                </div>


            </div>

        </ng-container>
        <!-- Components -->
        <section class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">

            <!-- <fuse-fullscreen class="hidden md:block"></fuse-fullscreen> -->



        </section>
    </header>

    <!-- Content -->
    <div class="flex flex-col flex-auto w-full">
        <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
        <router-outlet *ngIf="true"></router-outlet>
    </div>

    <!-- Footer -->
    <div class="relative flex flex-0 items-center text-center justify-center w-full h-14 sm:h-20 px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent print:hidden">
        <span class="font-medium text-secondary">มหาวิทยาลัยราชภัฏสกลนคร &copy; {{currentYear}}</span>
    </div>

</main>

