
 <div *ngIf="isLoading === true" class="flex w-full bg-white  justify-center">
    <div class="container w-full md:w-2/3 lg:w-2/3  p-5 justify-center items-center">
    <div class="animate-pulse w-full h-48 bg-slate-200"></div>
    <div class="p-3 space-y-4">
        <div class="animate-pulse w-2/3 h-6 bg-slate-200"></div>
        <div class="flex space-x-4">
            <div class="animate-pulse w-1/3 h-3 bg-sky-200"></div>
            <div class="animate-pulse w-1/3 h-3 bg-sky-200"></div>
            <div class="animate-pulse w-1/3 h-3 bg-sky-200"></div>
        </div>
        <div class="space-y-2">
            <div class="animate-pulse w-3/4 h-3 bg-slate-200"></div>
            <div class="animate-pulse w-full h-3 bg-slate-200"></div>
            <div class="animate-pulse w-2/3 h-3 bg-slate-200"></div>
        </div>
    </div>
    </div>
</div>



<div *ngIf="isLoading === false" class="flex w-full justify-center">
    <div class="container w-full md:w-2/3 lg:w-2/3  p-5">

        <!-- <div class="flex flex-col sm:flex-row flex-0 sm:justify-between p-2  dark:bg-transparent">
            <div class="flex-1 min-w-0 ">
                <!-- Breadcrumbs -->
                <!-- <div class="flex flex-wrap items-center font-medium text-sm ">
                    <div>
                        <a class="whitespace-nowrap text-primary-500">ตารางรายชื่อ</a>
                    </div>

                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon
                            class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                        <span class="ml-1 text-secondary">ตรวจสอบเลขที่นั่งบัณฑิต</span>
                    </div>
                </div> -->
                <!-- Title -->
                <!--<div class="">
                    <h2 class="text-xl  font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                        ตรวจสอบเลขที่นั่งบัณฑิต (วันฝึกซ้อม)
                    </h2>
                </div>
            </div>
        </div> -->

        <div  class="flex flex-col flex-auto border-white border-2  bg-card rounded-2xl shadow-2xl">
            <div class="flex items-center rounded-t-2xl bg-gradient-to-b from-gray-100 to-gray-0 ">
                <div class="flex flex-col px-6 pt-4">
                    <div class="mr-4 text-2xl font-extrabold flex-nowrap">{{datastd.FULL_NAME_STD}}</div>
                    <div class="text-secondary font-medium font-sm ">รหัสนักศึกษา: {{datastd.STUDENT_ID}}</div>
                    <div class=""><span class="inline-flex items-center font-bold  text-green-400 text-xs mr-1  rounded-sm tracking-wide "><span class="leading-relaxed whitespace-nowrap">คณะ: {{datastd.FAC_NAME_TH}}</span></span>
                        <span class="inline-flex items-center font-bold text-yellow-500 text-xs mr-1  rounded-sm tracking-wide "><span class="leading-relaxed whitespace-nowrap">สาขา: {{datastd.PROGRAM_MIDDLE_NAME}}</span></span>
                        <span class="inline-flex items-center font-bold text-blue-400 text-xs   rounded-sm tracking-wide "><span class="leading-relaxed whitespace-nowrap">หลักสูตร: {{datastd.LEV_NAME_TH}}</span></span></div>
                </div>

            </div>

            <div class="px-6">
            <div class="border-b mt-5"></div>
            <div class="my-5 space-y-8 ">

                <div class="flex flex-col">
                    <div class="flex items-center ">

                        <div class="flex-auto ml-4 leading-none">
                            <div class="text-sm font-bold text-gray-700">ข้อมูลการตั้งแถว</div>
                            <div class=" mt-5 font-medium ">

                                <span class="shadow-lg bg-yellow-100 px-3 py-1 text-yellow-700 rounded-md  border-yellow-900 border">วันที่: {{datastd.POST_DATE}} เวลา: {{datastd.POST_TIME}}</span>


                            </div>

                        </div>

                    </div>
                </div>

                <div class="flex flex-col">
                    <div class="flex items-center">

                        <div class="flex-auto ml-4 leading-none">
                            <div class="text-sm font-bold text-gray-700">ลำดับการเข้ารับ</div>
                            <div class="mt-5 font-extrabold text-2xl"><span class="shadow-lg bg-lime-100 px-3 py-1 text-lime-700 rounded-md  border-lime-900 border">{{datastd?.NUMREAL  || 'ไม่ระบุ'}}</span></div>

                        </div>

                        <div class="flex-auto ml-4 leading-none">
                            <div class="text-sm font-bold text-gray-700">แถวที่</div>
                            <div class="mt-5 font-extrabold text-2xl"> <span class="shadow-lg bg-indigo-100 px-3 py-1 text-indigo-700 rounded-md border-indigo-900 border"> {{datastd?.NUMROW  || 'ไม่ระบุ'}}</span></div>

                        </div>

                    </div>
                </div>


                <div class="flex flex-col">
                    <div class="flex items-center">

                        <div class="flex-auto ml-4 leading-none">
                            <div class="text-sm font-medium text-secondary">อาคาร</div>
                            <div class="mt-5 font-extrabold "><span class=" bg-gray-100 px-3 py-1 text-gray-700 rounded-md">{{datastd?.BUILDNAME || 'ไม่ระบุ'}}</span></div>

                        </div>
                    </div>
                    <div class="flex items-center mt-5">
                        <div class="flex-auto ml-4 leading-none">
                            <div class="text-sm font-medium text-secondary">ห้อง</div>
                            <div class="mt-5 font-extrabold "> <span class=" bg-gray-100 px-3 py-1 text-gray-700 rounded-md"> {{datastd?.ROOM_SUB  || 'ไม่ระบุ'}}</span></div>

                        </div>

                    </div>
                </div>

            </div>
            <div class="border-b my-3"></div>

            </div>

            <div class="flex items-center w-full pb-6 justify-center mt-auto rounded-b-2xl bg-gradient-to-t from-gray-100 to-gray-0">
                <a [routerLink]="['/view']" target="_self" class="transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-105 hover:bg-gray-50 duration-200 "><button
                    class="mt-2 shadow-md "
                    mat-stroked-button>
                    ย้อนกลับ
                </button>
            </a>
            </div>
        </div>




      </div>
</div>
