
 <div *ngIf="isLoading === true" class="flex w-full bg-white  justify-center">
    <div class="container w-full md:w-2/3 lg:w-2/3  p-5 justify-center items-center">
    <div class="animate-pulse w-full h-48 bg-slate-200"></div>
    <div class="p-3 space-y-4">
        <div class="animate-pulse w-2/3 h-6 bg-slate-200"></div>
        <div class="flex space-x-4">
            <div class="animate-pulse w-1/3 h-3 bg-sky-200"></div>
            <div class="animate-pulse w-1/3 h-3 bg-sky-200"></div>
            <div class="animate-pulse w-1/3 h-3 bg-sky-200"></div>
        </div>
        <div class="space-y-2">
            <div class="animate-pulse w-3/4 h-3 bg-slate-200"></div>
            <div class="animate-pulse w-full h-3 bg-slate-200"></div>
            <div class="animate-pulse w-2/3 h-3 bg-slate-200"></div>
        </div>
    </div>
    </div>
</div>

<div *ngIf="isLoading === false" class="flex w-full  justify-center">
<div class="container w-full md:w-2/3 lg:w-2/3  p-5">
    <!-- <div class="flex flex-col sm:flex-row flex-0 sm:justify-between p-2  dark:bg-transparent">
        <div class="flex-1 min-w-0 ">
            <!-- Breadcrumbs -->
            <!-- <div class="flex flex-wrap items-center font-medium text-sm ">
                <div>
                    <a class="whitespace-nowrap text-primary-500">ตารางรายชื่อ</a>
                </div>

                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon
                        class="icon-size-5 text-secondary"
                        [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <span class="ml-1 text-secondary">ตรวจสอบเลขที่นั่งบัณฑิต</span>
                </div>
            </div> -->
            <!-- Title -->
            <!--<div class="">
                <h2 class="text-xl text-center  font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    ตรวจสอบเลขที่นั่งบัณฑิต (วันฝึกซ้อม)
                </h2>
            </div>
        </div>
    </div> -->


    <div class=" bg-card p-5 shadow-2xl  rounded-lg">

    <div class="flex justify-end mb-3 shrink-0   sm:mt-0 sm:ml-4">
        <!-- Search -->
        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
            <span class=" text-gray-500 mr-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                  </svg>

            </span>
            <input

                matInput
                (keyup)="onkey($event)"
                [autocomplete]="'off'"
                [placeholder]="'ค้นหา'">
        </mat-form-field>
    </div>

    <span class="text-sm text-gray-500"> คำชี้แจง: แตะที่ชื่อเพื่อดูรายละเอียด</span>


        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 rounded-lg">
            <thead class=" text-gray-700 text-center uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr class="shadow-md">
                    <th scope="col" class="py-3 px-2 rounded-tl-lg">
                        No.
                    </th>
                    <th scope="col" class="py-3 px-2">
                        ชื่อ-สกุล
                    </th>

                    <th scope="col" class="py-3 px-2 rounded-tr-lg">
                        รายละเอียด
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr
                *ngFor="
                let post of POSTS
                | paginate
                    : {
                        itemsPerPage: tableSize,
                        currentPage: page,
                        totalItems: count
                    };
                let i = index
            "
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 shadow-xl transition ease-in-out delay-100 hover:-translate-y-1 hover:scale-105 hover:bg-gray-50 duration-200">
                    <th  class="font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
                        {{post.numx}}
                    </th>
                    <td class="py-4 px-2">
                        <a
                        [routerLink]="['./'+post.STUDENT_ID]"
                        target="_self">
                        <div class="text-lg  text-gray-900 font-bold ">
                        <span class="text-sm text-gray-500 font-bold" >รหัสนักศึกษา: {{post.STUDENT_ID}}</span></div>
                                    <div class="text-lg  text-gray-900 font-bold ">
                                        <span>{{ post.PNAME + post.FNAME + '  ' + post.LNAME }}</span>
                                    </div>
                                    <div class=""><span class="inline-flex items-center font-bold  text-green-400 text-xs mr-1  rounded-sm tracking-wide "><span class="leading-relaxed whitespace-nowrap">คณะ:{{post.FAC_NAME_TH}}</span></span>
                                        <span class="inline-flex items-center font-bold text-yellow-500 text-xs mr-1  rounded-sm tracking-wide "><span class="leading-relaxed whitespace-nowrap">สาขา:{{post.PROGRAM_MIDDLE_NAME}}</span></span>
                                        <span class="inline-flex items-center font-bold text-blue-400 text-xs   rounded-sm tracking-wide "><span class="leading-relaxed whitespace-nowrap">ปริญญา:{{post.LEV_NAME_TH}}</span></span>
                                    </div>
                                    </a>

                    </td>

                    <td class="py-4 px-2 text-center">
                        <a [routerLink]="['./'+post.STUDENT_ID]" target="_self" >
                            <div class="flex text-center justify-center items-center">



                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m5.231 13.481L15 17.25m-4.5-15H5.625c-.621 0-1.125.504-1.125 1.125v16.5c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9zm3.75 11.625a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
                          </svg>


                            </div>
                        </a>
                    </td>
                </tr>

            </tbody>
        </table>

        <div class="flex w-full justify-center text-xs items-center mt-5">
            <pagination-controls
              previousLabel=""
              nextLabel=""
              (pageChange)="onTableDataChange($event)"
            >
            </pagination-controls>
          </div>
        </div>
  </div>
</div>
